<header class="bg-[#f0dec3] flex items-center w-full px-5 py-5 box-border mt-0 mb-0">
    <div class="max-w-7xl flex justify-between items-center w-full mx-auto">
      <h1 class="ml-4 text-[#274d60] text-lg mt-0 mb-0">MAYRA</h1>
      <nav>
        <ul class="flex items-center">
          <li><a href="home" class="mx-4 text-[#274d60] text-lg hover:underline  ">Sobre Mi</a></li>
          <li><a href="semanas" class="mx-4 text-[#274d60] text-lg hover:underline">Lecciones</a></li>
          <li><a href="#reflexion" class="mx-4 text-[#274d60] text-lg hover:underline">Reflexión Final</a></li>
          <li><a href="#bibliografia" class="mx-4 text-[#274d60] text-lg hover:underline">Bibliografía</a></li>
        </ul>
      </nav>
    </div>
  </header>
  