<main>
    <div class="max-w-7xl  mx-auto ">
        <div>
            <h1 class="text-[#f0dec3] text-3xl text-center mb-4">BIENVENIDOS</h1>
          </div>
        
          <div class="flex flex-col max-w-full md:flex-row justify-around items-center text-[#9fc9de] py-8">
            <div class="text-center md:w-1/2 md:pr-6">
              <p class="mb-2">Hola, mi nombre es:</p>
              <h1 class="text-2xl font-bold mb-2">Mayra Macuri Lopez</h1>
              <p>Descripción</p>
            </div>
            <div class="text-center md:w-1/2">
              <img src="https://img.freepik.com/vector-gratis/personaje-dibujos-animados-gatito-ojos-dulces_1308-135596.jpg?w=360"
                   alt="Imagen de Mayra"
                   class="max-w-[200px] rounded-full mx-auto">
            </div>
          </div>
        

        
          <div class="text-[#9fc9de] text-center py-8">
            <h1 class="text-2xl mb-4">SOBRE MI</h1>
            <div class="flex flex-wrap justify-center gap-6">
              <div class="bg-[#f0dec3] text-[#274d60] p-4 rounded-lg w-[250px] text-center">
                <img src="https://img.freepik.com/vector-gratis/pequeno-personaje-dibujos-animados-lindo-gato_1308-138075.jpg?semt=ais_hybrid&w=740"
                     alt="Habilidad 1"
                     class="w-[100px] rounded-full mx-auto mb-2">
                <h2 class="text-xl font-semibold">Habilidades</h2>
                <p>Descripción breve de la habilidad.</p>
              </div>
              <div class="bg-[#f0dec3] text-[#274d60] p-4 rounded-lg w-[250px] text-center">
                <img src="https://img.freepik.com/vector-gratis/pequeno-personaje-dibujos-animados-lindo-gato_1308-138075.jpg?semt=ais_hybrid&w=740"
                     alt="Habilidad 1"
                     class="w-[100px] rounded-full mx-auto mb-2">
                <h2 class="text-xl font-semibold">Habilidades</h2>
                <p>Descripción breve de la habilidad.</p>
              </div>
            </div>
          </div>
        
          <div class="text-[#f0dec3] text-center py-8">
            <h1 class="text-2xl mb-4">Mis aptitudes</h1>
          </div>
          <div class="relative w-full h-[300px]  overflow-hidden rounded text-[#274d60]">
            @for (word of words; track word.text) {
              <span
                class="crazy-word"
                [style.transform]="word.transform"
              >
                {{ word.text }}
              </span>
            }
          </div>
          
          

          <div class="text-[#f0dec3] text-center py-8">
            <h1 class="text-2xl mb-4">EXPERIENCIA</h1>
          
            <div class="mb-6">
              <ul class="flex flex-wrap justify-center gap-4">
                @for (exp of experiences; track exp.name) {
                  <li
                    (click)="selectExperience(exp.name)"
                    class="bg-[#9fc9de] text-[#274d60] px-4 py-2 rounded cursor-pointer hover:bg-[#8bb8d1]"
                    [class.font-bold]="exp.name === selectedExperience"
                  >
                    {{ exp.name }}
                  </li>
                }
              </ul>
            </div>
          
            @if (selectedExperience !== '') {
              <div class="max-w-[800px] mx-auto bg-white/10 p-6 rounded text-left">
                <p>{{ selectedDescription }}</p>
              </div>
            }
          </div>
          
          
    </div>
    
  </main>
  