<main>
    <div class="max-w-7xl  mx-auto"  >
        <div class="text-[#9fc9de] text-center py-8">
            <h1 class="text-2xl mb-4">SEMANAS</h1>
            <div class="flex flex-wrap justify-center gap-6">
              <div class="bg-[#f0dec3] text-[#274d60] p-4 rounded-lg w-[250px] text-center">
                <img src="https://img.freepik.com/vector-gratis/pequeno-personaje-dibujos-animados-lindo-gato_1308-138075.jpg?semt=ais_hybrid&w=740"
                     alt="Habilidad 1"
                     class="w-[100px] rounded-full mx-auto mb-2">
                <h2 class="text-xl font-semibold">Semana 1</h2>
                <p>Descripción breve de la habilidad.</p>
              </div>
              <div class="bg-[#f0dec3] text-[#274d60] p-4 rounded-lg w-[250px] text-center">
                <img src="https://img.freepik.com/vector-gratis/pequeno-personaje-dibujos-animados-lindo-gato_1308-138075.jpg?semt=ais_hybrid&w=740"
                     alt="Habilidad 1"
                     class="w-[100px] rounded-full mx-auto mb-2">
                <h2 class="text-xl font-semibold">Semana 2</h2>
                <p>Descripción breve de la habilidad.</p>
              </div>
              <div class="bg-[#f0dec3] text-[#274d60] p-4 rounded-lg w-[250px] text-center">
                <img src="https://img.freepik.com/vector-gratis/pequeno-personaje-dibujos-animados-lindo-gato_1308-138075.jpg?semt=ais_hybrid&w=740"
                     alt="Habilidad 1"
                     class="w-[100px] rounded-full mx-auto mb-2">
                <h2 class="text-xl font-semibold">Semana 3</h2>
                <p>Descripción breve de la habilidad.</p>
              </div>
              <div class="bg-[#f0dec3] text-[#274d60] p-4 rounded-lg w-[250px] text-center">
                <img src="https://img.freepik.com/vector-gratis/pequeno-personaje-dibujos-animados-lindo-gato_1308-138075.jpg?semt=ais_hybrid&w=740"
                     alt="Habilidad 1"
                     class="w-[100px] rounded-full mx-auto mb-2">
                <h2 class="text-xl font-semibold">Semana 4</h2>
                <p>Descripción breve de la habilidad.</p>
              </div>
              <div class="bg-[#f0dec3] text-[#274d60] p-4 rounded-lg w-[250px] text-center">
                <img src="https://img.freepik.com/vector-gratis/pequeno-personaje-dibujos-animados-lindo-gato_1308-138075.jpg?semt=ais_hybrid&w=740"
                     alt="Habilidad 1"
                     class="w-[100px] rounded-full mx-auto mb-2">
                <h2 class="text-xl font-semibold">Semana 5</h2>
                <p>Descripción breve de la habilidad.</p>
              </div>
              <div class="bg-[#f0dec3] text-[#274d60] p-4 rounded-lg w-[250px] text-center">
                <img src="https://img.freepik.com/vector-gratis/pequeno-personaje-dibujos-animados-lindo-gato_1308-138075.jpg?semt=ais_hybrid&w=740"
                     alt="Habilidad 1"
                     class="w-[100px] rounded-full mx-auto mb-2">
                <h2 class="text-xl font-semibold">Semana 6</h2>
                <p>Descripción breve de la habilidad.</p>
              </div>
    
            </div>
        </div>
    </div>
    
</main>


